<?xml version="1.0"?>
<configuration>
    <appSettings>
    <add key="LogDirectory" value="D:\\Project_Managment\\Project_ManagmentService Logs"/>
    <add key="DocumentDirectory" value="D:\\Project_Managment\Documents"/>
    <add key="UdpListeningPort" value="11001"/>
    <add key="DBServerIP" value="172.16.4.107"/>
     <add key="serverName" value="DF_Testing" />
    <add key="database" value="projectmanagement"/>
    <add key="UserId" value="root"/>
    <add key="Password" value="lipimysql"/>
    <add key="dbport" value="81"/>    
    <add key="DataBaseType" value="mysql"/>
    <add key="TemplatePath" value="D://DSTemplates//"/>
    <add key="DataReceivedFromCLients" value="D:\\sanitizer\\DataReceivedFromClient//"/>
    <add key="DataSendToClient" value="D:\\sanitizer\\DataSendToClient"/>
	<add key="CommandDirectory" value="D:\sanitizer"/>
    <add key="FromEmail" value="no-reply.sanitizerdb@lipi.in"/>
    <add key="FromPassword" value="Kob21939"/>
    <add key="Port" value="11001"/>
  <add key="IsTCPCommunication" value="false"/>
  <add key="DeviceCount" value="5"/>
	  <add key="Device1" value="Camera"/>
	  <add key="Device2" value="TempSensor"/>
	  <add key="Device3" value="UV BOX"/>
	  <add key="Device4" value="SPO2"/>
	  <add key="Device5" value="SenitizerSensor"/>
  </appSettings>

 
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WCFServiceBinding" maxReceivedMessageSize="250000000" maxBufferSize="250000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="LipiRMS.Service1">
        <endpoint address="" behaviorConfiguration="WCFServiceBehavior" binding="webHttpBinding" bindingConfiguration="WCFServiceBinding" contract="LipiRMS.IService1"/>
       
      </service>
    
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
    </assemblyBinding>
  </runtime>
</configuration>